@charset "UTF-8";
@import "tailwindcss";

@import "./animations/anim-message-close.css";
@import "./animations/anim-top-bar-close.css";
@import "./animations/anim-top-bar-open.css";
@import "./animations/anim-message-open.css";
@import "./animations/anim-config-close.css";
@import "./animations/anim-config-open.css";


@theme {
    --color-brand-100: #2aff9c;
    --color-brand-200: #24e78c;
    --color-brand-300: #1DBF73;
    --color-brand-500: #116b41;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Firefox */
.no-scrollbar {
    scrollbar-width: none;
}
